{% extends "base.html" %} {% block content %}
<div class="container-fluid">
	<div class="row">
		<!-- Mapa de Leads (Sidebar) -->
		<div class="col-md-4 border-right" style="max-height: 100vh; overflow-y: auto">
			<h4 class="mt-4">Leads</h4>
			<div class="list-group">
				{% for lead in leads %}
				<a href="{{ url_for('get_leads_ia', ia_id=lead.ia_id, lead_id=lead.id) }}" class="list-group-item list-group-item-action {% if selected_lead and selected_lead.id == lead.id %}active{% endif %}">
					<strong>{{ lead.name }}</strong><br />
					<small>{{ lead.phone }}</small><br />
					<small>Última interação: {{ lead.updated_at }}</small>
				</a>
				{% endfor %}
			</div>
		</div>

		<!-- Chat do Lead Selecionado -->
		<div class="col-md-8" style="max-height: 100vh; overflow-y: auto">
			{% if selected_lead %}
			<div class="mt-4">
				<h4>Chat - {{ selected_lead.name }}</h4>
				<p><strong>IA:</strong> {{ selected_lead.ia_name }}</p>
				<button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deletePromptModal{{ selected_lead.id }}" title="Deletar lead">
					<i class="bi bi-trash"></i>
				</button>
				<!-- Resumo da Conversa -->
				{% if selected_lead.resume %}
				<div class="card-body">
					<h6>Resumo:</h6>
					<textarea class="form-control" rows="10" readonly>{{ selected_lead.resume }}</textarea>
				</div>

				{% endif %}
				<div class="d-flex justify-content-center align-items-center">
					<hr class="my-4" style="border-top: 1px solid #ccc; flex-grow: 1" />
					<small class="text-muted mx-3">Chat</small>
					<hr class="my-4" style="border-top: 1px solid #ccc; flex-grow: 1" />
				</div>
				<!-- Área de Chat -->
				<div class="chat-container" style="overflow-x: hidden">
					{% for msg in selected_lead.message %} {% if msg.role == 'user' %}
					<!-- Mensagem do Usuário alinhada à esquerda -->
					<div class="d-flex mb-3">
						<div class="bg-light p-2 rounded" style="max-width: 70%">
							<p class="mb-1">{{ msg.content }}</p>
							{% if msg.name %}
							<small class="text-muted">{{ msg.name }}</small>
							{% endif %}
						</div>
					</div>
					{% elif msg.role == 'assistant' %}
					<!-- Mensagem do Assistente alinhada à direita -->
					<div class="d-flex mb-3 justify-content-end">
						<div class="text-white p-2 rounded" style="max-width: 70%; background-color: #255267">
							<p class="mb-1 p-2">{{ msg.content }}</p>
						</div>
					</div>
					{% endif %} {% endfor %}
				</div>
			</div>
			<!-- Modal para Deletar Prompt -->
			<div class="modal fade" id="deletePromptModal{{ selected_lead.id }}" tabindex="-1" aria-labelledby="deletePromptModalLabel{{ selected_lead.id }}" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<form action="/delete-lead/{{ selected_lead.id }}" method="POST">
							<div class="modal-header">
								<h5 class="modal-title" id="deletePromptModalLabel{{ selected_lead.id }}">Confirmar Exclusão</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p>Tem certeza que deseja excluir o Lead <strong>{{ selected_lead.name }}</strong>?</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
								<button type="submit" class="btn btn-danger">Excluir</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			{% else %}
			<div class="mt-4">
				<h4>Selecione um lead para visualizar o chat</h4>
			</div>
			{% endif %}
		</div>

</div>
{% endblock %}
